.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  font-size: large;
  margin: 0.5rem;
  padding: 0.5rem;
  font-weight: 700;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 35vw;
}

.textField {
  margin: 0.5rem;
  padding: 0.5rem;
}
